* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e086f);
  padding: 10px;
}

.todo_app {
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo_app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 15px 30px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

.taskList {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

ul li span {
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: #555;
  text-align: center;
  margin: 20px 12px;
}

.removeButton {
  padding: 10px 20px;
}

ul li span:hover {
  background: #edeef0;
}/*# sourceMappingURL=style.css.map */